{% extends 'users/password_reset.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>Schoolly - Password Reset Confirm </title>{% endblock title %}

            {% block content_body %}
            <h4 class="text-center mb-4">Forgot Password</h4>
            <p>Enter a new password</p>
            <form action="" method="POST">
                {% csrf_token %}
                            
                {{ form|crispy}}
                <div class="text-center mt-4">
                    <button type="submit" value="submit" class="btn btn-primary btn-block">Reset Password</button>
                </div>
            </form>
            <div class="border-top" pt-3>
                <small class="text-muted">
                    Need An Account? <a class="ml-2" href="{% url 'users:register' %}">Register</a>
                </small>
            </div>
        
        </div>
        {% endblock content_body %}
    